body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;

}
 h1 {
        margin-bottom: 1px;
        margin-top: 10px;
        text-align: center;
        font-family: Calibri;
        color: black;
        font-weight: bold;

      }

/** HEADER **/
#header-nav {
  background-color: #888888;
  border-radius: 0;
  border: 0;
  border: 3px solid black;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
 margin-bottom: 10px;
        margin-top: -5px;
        text-align: center;
        font-family: Calibri;
        color: black;
        font-weight: bold;
        margin-left: -10px;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
.container .jumbotron {
  border: 2px solid #000000;
  font-family: Calibri;
  color: black;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: #888888;
    padding: 0;
    border: 2px solid #000000;
  }
  .navbar-brand {
    padding-top: 35px;
    height: 100px;
  }

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: #888888;
    border: 2px solid #000000;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: #888888;
    padding: 0;
    border: 2px solid #000000;
  }
  .navbar-brand {
    padding-top: 35px;
    height: 100px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    padding: 0;
    background: #888888;
  }
  .navbar-brand {
    padding-top: 35px;
    height: 100px;
  }

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 35px;
    height: 100px;
  }
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
    background: #888888;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}